body{ 
    text-align: center;
border-left: 900px ;   
      border-right: 900px;
              margin: 0;    
      
      padding:  10px 80px;



   }

  .navbar {
  text-align: center;
  background-color: #47494dda;
  display: inline-block;
 
}
   

   #pag:hover{
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
   }
    


   .gn:hover{
    transform: scale(1.2);
  color: rgb(0, 0, 0);
   }


   .li2{
    list-style: none;
   }

  
   a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 1px azure;
   }

   .gen{
    
text-shadow: 0 -1px 1px azure;
    font-weight: bold;
   }

   .li{
    list-style: none;
   }
#ul{
    text-align: center;
}



   #prod{
background-color: beige;
   }


#pd{
     text-align: center;
  background-color: #47494dda;
  display: inline-block;
    
}
   .cj:hover{
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;

 
   }

   .gn:hover{
     transform: scale(1.2);
  color: rgb(0, 0, 0);
   }






   #cur{
    background-color: beige;
    text-align: center;
   }

#hd{
     text-align: center;
  background-color: #47494dda;
  display: inline-block;
    
}
   .cc:hover{
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;

 
   }

   .pr:hover{
     transform: scale(1.2);
  color: rgb(0, 0, 0);
   }





   .gen{
    font-size: 15px;
    color: rgb(49, 140, 163);
   }

h1{
    color: black;
    font-weight: bold;
}
h2{
    color: red;
}

.contacto{
   box-sizing: border-box;
    background-color:beige;
    text-align: center;
}

.pp{
     text-align: center;
  background-color: #47494dda;
  display: inline-block;
    
}
   .r:hover{
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;

 
   }

   .rr:hover{
     transform: scale(1.2);
  color: rgb(0, 0, 0);
   }

.im:hover{
    transform: scale(1.3);
}

.formulario{
   
   display: inline-block;
   background: #47494dda;
   padding: 10px;
   margin-bottom: 16px;
   font-size: 16px;
}

.grr{
height: 40px;
font-size: 15px;
text-align: center;
}

.boton{
   text-decoration: underline;
   background-color:cadetblue;
   border: none;
   padding: 12px;
   color: aliceblue;
   margin: 10px 0;
   font-size: 16px;
   cursor: pointer;
  transition: transform 0.2s ease;
   
}

.boton:hover{
   transform: scale(1.1);

}



.gracias{
   background-color: beige;
   
}

.volver{
   text-decoration: underline;
   display: inline-block;
   text-align: center;
   border: none;
   color: black;
   font-size: 25px;
 background-color: rgb(30, 240, 23);
 transition: transform 0.2s ease;

}
.volver:hover{
   transform: scale(1.5);
}

.wiki{
   color: black;
   display: inline-block;
   transition: transform 0.2s ease;
   text-decoration: underline;
}
.wiki:hover{
   transform: scale(1.5);
}

.error{
   display: inline-block;
   width: 1080px;
   height: 720px;
 
   object-fit:calc(1.1)
}

.stp{
color: black;
font-size: 25px;
text-decoration: underline;
}

.out{
   color: black;
   text-decoration: underline;
}
.tre{
   background-color: grey;
}