body{
    background-color: bisque;
    text-align: center;
}

img{
    width: 200px;
    border-radius: 100px;

}
p{font-size: 15px;
    font-weight: bold;
}
.g{
display: flex;
align-items: center;
flex-direction: column;
}

.i{
    display: flex;
    gap: 20px;
margin-bottom: 40px;
}

.ph:hover{
     transform: scale(1.3);

}

.t{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}



#re{
     text-align: center;
  background-color: #f7f7f7da;
  display: inline-block;
}
  
.er:hover{
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
   }


   .e:hover{
     transform: scale(1.2);
  color: rgb(0, 0, 0);
 
   }